html[dir="rtl"] {
    @font-face {
        font-family: "ExpoArabic";
        src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
        font-weight: 700;
    }
    
    @font-face {
        font-family: "ExpoArabic";
        src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
        font-weight: 500;
    }
    
    @font-face {
        font-family: "ExpoArabic";
        src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
        font-weight: 900;
    }
    * {
        font-family: "ExpoArabic" , sans-serif ;
    }
}
html[dir="ltr"] {
    @font-face {
        font-family: "Rubik";
        src: url('../fonts/Rubik/Rubik-Medium.woff2');
        font-weight: 700;
    }
    
    @font-face {
        font-family: "Rubik";
        src: url('../fonts/Rubik/Rubik-Regular.woff2');
        font-weight: 500;
    }
    
    @font-face {
        font-family: "Rubik";
        src: url('../fonts/Rubik/Rubik-Bold.woff2');
        font-weight: 900;
    }
    * {
        font-family: "Rubik" , sans-serif ;
    }
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;

    &::selection{
        background-color: #00768c;
        color: #fff; 
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
    }
    
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #00768c, #fff); 
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background:  linear-gradient(180deg, #fff, #00768c); ; 
    }
}

.overflowNone{
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #00768c;
    opacity: .5;
    transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #00768c;
    opacity: 1;
}

.overflowNone{
    overflow: hidden;
}

button {
    outline: none;
}