@media (max-width: 999px) {
  .navabr {
    .top-nav .content .socail-media li:first-child {
      display: none;
    }

    &.scrolled {
      .nav-contain {
        top: 80px !important;
        height: calc(100vh - 80px) !important;
      }
    }

    .bottom-nav {
      .hamburger {
        display: block !important;
      }

      .nav-contain {
        width: 100% !important;
        position: absolute;
        top: 115px;
        left: -100%;
        padding: 20px 15px;
        padding-inline-start: 15px !important;
        height: calc(100vh - 115px);
        background-color: var(--light) !important;
        z-index: 999;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        transition: all .3s linear;

        &.active-nav {
          left: 0px !important;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          background: url('../images/logo/logo.png') center / contain no-repeat;
          bottom: 40px;
          right: 40px;
          opacity: .4;
        }

        .navbar-nav {
          flex-direction: column !important;
          align-items: flex-start;
          width: 100%;

          li {
            margin-bottom: 10px;
          }
        }

        .custom-btn {
          margin-top: 20px;
        }
      }

    }

    .drop-list-shape .list {
      left: 0px;
    }
  }

  .about-us {
    .image-content {
      height: 300px !important;
    }

    h1, span  {
      font-size: 25px !important;
    }
  }

  .advantages {
    h1, span {
      font-size: 20px !important;
    }
  }

  .profile .nav.nav-tabs {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    justify-content: flex-start !important;
    overflow-y: hidden;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 10px !important;
      height: 0px !important;
    }

    li {
      min-width: 84px !important;

      span {
        font-size: 12px !important;
        font-weight: 500 !important;
      }
    }
  }

  html[dir="rtl"] {
    .navabr .bottom-nav .content .nav-contain {
      left: unset !important;
      right: -100%;

      &.active-nav {
        right: 0px !important;
        left: unset !important;
      }
    }

    .navabr .drop-list-shape .list {
      right: 0px;
    }
  }

  .profile .form-contain {
    padding: 20px 12px !important;
  }

  .order-box .disease-data  {
    margin-bottom: 20px;
    flex-direction: column;

    h2, .disease-list {
      width: 100%;
    }

    h2 {
      margin-bottom: 10px;
    }
  }

  .table-responsive {
    width: 100%;
    overflow-x: scroll !important;

    th, td {
      min-width: 200px !important;
    }
  }

  .join-us {
    padding: 40px 0px 0px !important;

    .image-content {
      height: 400px;
    }
  }

  .graph-heading {
    width: 100% !important;

    h1 {
      font-size: 35px !important;
    }

    .grahp-text {
      font-size: 90px !important;
    }
  }

  header {
    padding: 200px 0px 50px !important;
  }

  .profile .form-contain .button-confirm {
    justify-content: space-between;
    padding: 0px !important;

    .custom-btn {
      margin: 0px 0px !important;
      width: 48.5% !important;
    }
  }

  .profile .profile-list {
    display: none;
  }

  .profile .profile-heading {
    margin-bottom: 0px !important;
    border: 0px !important;
    padding-bottom: 10px !important;

    h1 {
      margin: 0px !important;
    }
    .bread-list {
      display: none;
    }
  }

  .general-section {
    padding-bottom: 20px !important;
  }

  .profile .nav.nav-tabs {
    margin-bottom: 10px !important;
  }

  .profile-service-data .heading-profile {
    flex-direction: column !important;

    .contain {
      width: 100% !important;
      margin-top: 20px;
    }
  }

  .custom-btn span {
    font-size: 12px !important;
  }

  .sub-header {
    padding: 145px 0px 21px;

    .bread-list {
      display: none !important;
    }
  }

  .form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    display: block !important;
    transition: all .3s linear;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: all .3s linear;
    }

    .form-contain-row {
      width: 95%;
      border-radius: 20px 20px 0px 0px;
      padding: 20px 16px 50px;
      background-color: var(--light);
      margin: 0px auto !important;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(30px) translateX(-50%);
      z-index: 999;
      opacity: 0;
      visibility: hidden;
      transition: all .3s linear;
    }

    .heading h1 {
      font-size: 20px;
      font-weight: 700;
      color: var(--secondary-color);
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 30px !important;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    .custom-btn {
      img {
        filter: invert(99%) sepia(1%) saturate(7477%) hue-rotate(184deg) brightness(111%) contrast(100%);
      }

      span {
        font-size: 20px !important;
      }
    }

    

    .button-confirm {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      .custom-btn {
        width: 48.5% !important;

        &.cancel {
          outline: 1px solid #e02020 !important;
          background: var(--light);

          &::after {
            background-color: #e02020;
          }

          span {
            color: #e02020;
          }

          &:hover span {
            color: var(--light);
          }
        }

        &.border {
          outline: 1px solid var(--secondary-color) !important;
          background: var(--light);

          span {
            color: var(--secondary-color);
          }

          &:hover span {
            color: var(--light);
          }
        }
      }
    }

    &.active-form {
      opacity: 1;
      visibility: visible;

      .overlay {
        opacity: 1;
        visibility: visible;
      }

      .form-contain-row {
        transform: translateY(0px) translateX(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .mobile-none {
    display: none;
  }
  .mobile-appear {
    display: flex !important;
  }
  

  .flex-heading {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .heading {
      margin-bottom: 0px;
    }

    .filter-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      border-radius: 10px;
      background-color: var(--secondary-color);

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        filter: invert(99%) sepia(1%) saturate(7477%) hue-rotate(184deg) brightness(111%) contrast(100%);
      }
    }
  }

  .sub-header .content h1,
  .heading h1 {
    font-size: 20px !important;
    margin: 0px !important;
  }

  .general-section {
    padding-top: 13px !important;
  }

  footer .copyright p {
    font-size: 12px !important;
  }

  .profile {
    padding-top: 150px !important;
  }

  .profile .custom-btn.big-btn {
    width: 100% !important;
  }

  .no-padding {
    padding: 0px !important;
    margin-top: 10px !important;

    .custom-btn {
      width: 49% !important;
      margin: 0px !important;
    }
  }

  .profile .custom-btn.big-btn {
    margin-top: 15px !important;
  }

  .profile .nav.nav-tabs .nav-item .nav-link {
    flex-direction: column !important;
    
    .image-content {
      margin-bottom: 10px;
    }
  }

  .padding-screen {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  header .form-contain {
    padding: 20px 15px !important;
  }

  .order-mobile-0 {
    order: 0;
  }

  .order-mobile-1 {
    order: 1 !important;
  }

  .order-box .data-list {
    justify-content: flex-start !important;
    width: fit-content;
  }
}