@font-face {
  font-family: "Rubik";
  src: url('../fonts/Rubik/Rubik-Medium.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  src: url('../fonts/Rubik/Rubik-Regular.woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url('../fonts/Rubik/Rubik-Bold.woff2');
  font-weight: 900;
}
* {
  font-family: "Rubik" , sans-serif ;
}