@import 'global';
@import 'animations';

:root {
  --primary-color: #00333f;
  --secondary-color: #00768c;
  --light: #fff;
  --dark: #000;
  --semi-dark: #212832;
  --dark-pragraph: #4d4d4d;

  --primary-filter: invert(16%) sepia(11%) saturate(5467%) hue-rotate(151deg) brightness(97%) contrast(104%);
}

html[dir="rtl"] {
  .drop-name::after {
    left: 0px;
    right: unset !important;
  }

  .drop-list-shape .list .item a::after {
    right: unset !important;
    left: 0px !important;
  }

  .sub-header .content .bread-list li::after {
    transform: rotate(90deg) !important;
    right: unset !important;
    left: -10px !important;
  }

  footer .contain .footer-form .form-group .send-code {
    right: unset !important;
    left: 12px;

    img {
      transform: rotate(180deg);
    }

    &:hover img {
      animation: translateXAR 2s linear infinite;
    }
  }
}

.custom-btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(-180deg, #00b8ca 0%, #0096aa 50%, #00758b 100%);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 9;

  span {
    color: var(--light);
    font-size: 15px;
    font-weight: 500;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-inline-end: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    top: 0;
    left: 0;
    transform: scale(0, 1);
    transform-origin: top right;
    z-index: -1;
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover {
    img {
      animation: tada .3s linear both;
    }

    &::after {
      transform: scale(1, 1);
      transform-origin: bottom left;
    }
  }
}

.general-section {
  width: 100%;
  padding: 50px 0px;
  position: relative;
}

.navabr {
  width: 100%;
  padding: 0px;

  .top-nav {
    width: 100%;
    padding: 12px 0px;
    position: relative;
    z-index: 999;
    background-color: var(--primary-color);

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .socail-media {
        display: flex;
        align-items: center;
        align-content: center;

        li {
          margin-inline-end: 10px;

          &:first-child {
            margin-inline-end: 32px;

            a {
              display: flex;
              align-items: center;
              align-content: center;

              img {
                margin-inline-end: 10px;
              }

              span {
                color: var(--light);
                font-size: 15px;
                font-weight: 500;
              }
            }
          }

          &:last-child {
            margin-inline-end: 0px !important;
          }

          a {
            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }

            &:hover {
              img {
                animation: tada .3s linear both;
              }
            }
          }
          
        }
      }

      .drop-list-shape {
        position: relative;

        .drop-name {
          display: flex;
          align-items: center;
          align-content: center;
          position: relative;
          z-index: 9;
          padding-inline-end: 30px;

          img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-inline-end: 5px;
          }

          span {
            color: var(--light);
            font-size: 16px;
            font-weight: 500;
          }

          &::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background: url('../images/navbar/arrow.svg') center / contain no-repeat;
            top: calc(50% - 9px);
            right: 0px;
            z-index: -1;
            transition: all .3s linear;
          }
        }

        .list {
          width: 200px;
          padding: 10px 10px;
          background-color: var(--light);
          box-shadow: 0px 0px 10px rgba($color: #00768c, $alpha: 0.2);
          position: absolute;
          top: 100%;
          left: 0;
          transform: translateY(20px);
          visibility: hidden;
          border-radius: 10px;
          opacity: 0;
          transition: all .3s linear;

          .item {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid var(--seconday-color);

            &:last-child {
              border-bottom: 0px !important;
            }

            a {
              width: 100%;
              display: flex !important;
              position: relative;
              color: var(--dark);
              font-size: 15px;
              font-weight: 500;

              &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                background: url('../images/navbar/check_circle.svg') center / contain no-repeat;
                top: calc(50% - 12px);
                right: 0px;
                z-index: -1;
                filter: var(--primary-filter);
                transform: scale(0);
                transition: all .3s linear
              }

              &:hover, &.active {
                &::after {
                  transform: scale(1);
                }
              }
            }
          }
        }

        &:hover {
          .list {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
          }

          .drop-name::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .bottom-nav {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--light);

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between !important;

      .hamburger{
        display: none;
  
        .line{
          width: 30px;
          height: 3px;
          background: #00758b; 
          display: block;
          margin: 8px auto;
          transition: all 0.3s ease-in-out;
        }
  
        &.active{
          transition: all 0.3s ease-in-out;
          transition-delay: 0.6s;
          transform: rotate(45deg);
  
          .line{
            &:nth-child(2){
              width: 0px;
            }
  
            &:nth-child(1) ,
            &:nth-child(3){
              transition-delay: 0.3s;
            }
  
            &:nth-child(1){
              transform: translateY(6.5px);
            }
            
            &:nth-child(3){
              transform: translateY(-15px) rotate(90deg);
            }                             
          }
        }
      }

      .brand-name img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }

      .nav-contain {
        width: calc(100% - 200px);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        .navbar-nav {
          flex-direction: row;

          li {
            margin-inline-end: 40px;

            &:last-child {
              margin-inline-end: 0px !important;
            }

            .nav-link {
              font-size: 16px;
              font-weight: 500;
              color: var(--semi-dark);
              position: relative;
              z-index: 9;

              &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--secondary-color);
                bottom: 0;
                transform: scale(0, 1);
                transform-origin: top right;
                transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
                left: 0;
                z-index: -1;
              }

              &:hover, &.active {
                color: var(--secondary-color);

                &::after {
                  transform: scale(1, 1);
                  transform-origin: bottom left;
                }
              }
            }
          }
        }

        .flex-contain {
          display: flex;
          align-items: center;
          align-content: center;
          
          .drop-list-shape {
            position: relative;

            &:nth-child(1) {
              padding-inline-end: 10px;
              margin-inline-end: 10px;
              border-inline-end: 1px solid #eee;
            }

            .drop-name {
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
              border-radius: 50%;
              position: relative;
              z-index: 9;
              width: 40px;
              height: 40px;
              background-color: #ADD3DA;

              img {
                &.notification {
                  width: 20px;
                  height: 20px;
                  object-fit: contain;
                }

                &.profile {
                  width: 100% !important;
                  height: 100% !important;
                  object-fit: cover !important;
                }
              }

              span {
                color: var(--light);
                font-size: 10px;
                font-weight: 500;
                width: 15px;
                height: 15px;
                background-color: #e02020;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                position: absolute;
                top: -2px;
                right: -2px;
                border-radius: 50%;
              }
            }

            .list {
              background-color: var(--light);
              box-shadow: 0px 0px 10px rgba($color: #00768c, $alpha: 0.2);
              position: absolute;
              z-index: 99;
              top: 100%;
              right: 0;
              transform: translateY(20px);
              overflow: hidden;
              visibility: hidden;
              border-radius: 10px;
              opacity: 0;
              transition: all .3s linear;

              &.notification-list {
                width: 320px;

                .head {
                  width: 100%;
                  padding: 10px 15px;
                  border-bottom: 1px solid #eee;
                  color: var(--secondary-color);
                  font-size: 16px;
                  font-weight: 500;
                }

                .item {
                  width: 100%;
                  padding: 10px 10px;
                  position: relative;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .flex {
                      display: flex;
                      align-items: center;
                      align-content: center;
                      
                      .image-content {
                        width: 40px;
                        height: 40px;
                        background-color: #cbcbcb;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        margin-inline-end: 10px;

                        img {
                          width: 20px;
                          height: 20px;
                          object-fit: contain;
                        }
                      }

                      .contain {
                        h2 {
                          color: var(--dark-pragraph);
                          font-size: 14px;
                          font-weight: 700;
                          margin-bottom: 3px;
                        }

                        p {
                          color: var(--dark-pragraph);
                          font-size: 14px;
                          font-weight: 500;
                          margin: 0px;
                        }
                      }
                    }

                    span {
                      color: #a3a3a3;
                      font-size: 13px;
                      font-weight: 500;
                    }
                  }

                  &::after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: rgba($color: #00758b, $alpha: 0.04);
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all .3s linear;
                  }

                  &:hover {
                    h2 {
                      color: var(--secondary-color);
                    }

                    &::after {
                      width: 100%;
                    }

                    .image-content {
                      animation: rotation .4s linear 2;
                    }
                  }
                }

                .read-all {
                  width: 100%;
                  padding: 10px 0px;
                  border-top: 1px solid #eee;

                  .read-all-btn {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--secondary-color);
                    display: block;
                  }
                }
              }

              &.profile-list {
                width: 250px;

                .name {
                  width: 100%;
                  padding: 10px 10px;
                  position: relative;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .flex {
                      display: flex;
                      align-items: center;
                      align-content: center;
                      
                      .image-content {
                        width: 40px;
                        height: 40px;
                        background-color: #cbcbcb;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        margin-inline-end: 10px;

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }
                      }

                      .contain {
                        h2 {
                          color: var(--secondary-color);
                          font-size: 14px;
                          font-weight: 700;
                          margin-bottom: 3px;
                        }

                        p {
                          color: var(--dark-pragraph);
                          font-size: 14px;
                          font-weight: 500;
                          margin: 0px;
                        }
                      }
                    }
                  }

                  &::after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: rgba($color: #00758b, $alpha: 0.04);
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all .3s linear;
                  }

                  &:hover {
                    h2 {
                      color: var(--secondary-color);
                    }

                    &::after {
                      width: 100%;
                    }

                    .image-content {
                      animation: rotation .4s linear 2;
                    }
                  }
                }

                .list-contain {
                  width: 100%;
                  padding: 10px 5px;

                  a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    border-radius: 10px;
                    padding: 5px 10px;

                    img {
                      width: 24px;
                      height: 24px;
                      object-fit: contain;
                      margin-inline-end: 10px;
                    }

                    span {
                      font-size: 14px;
                      font-weight: 500;
                    }

                    &.data {
                      img {
                        filter: invert(27%) sepia(0%) saturate(498%) hue-rotate(179deg) brightness(101%) contrast(86%);
                      }

                      span {
                        color: var(--dark-pragraph);
                      }

                      &:hover {
                        img {
                          filter: invert(24%) sepia(99%) saturate(1813%) hue-rotate(168deg) brightness(93%) contrast(101%);
                        }

                        span {
                          color: var(--secondary-color);
                        }
                      }
                    }

                    &.logout {
                      span {
                        color: #e02020;
                      }
                    }

                    &:hover {
                      background-color: #f9f9f9;

                      img {
                        animation: tada .4s linear both;
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              .list {
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
              }

              .drop-name::after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

.sub-header {
  width: 100%;
  padding: 60px 0px;
  background: url('../images/sub-header.png') top left / cover no-repeat;

  .content {
    width: 100%;
    
    h1 {
      font-size: 30px;
      font-weight: 900;
      color: var(--light);
      margin-bottom: 10px;
    }

    .bread-list {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        padding: 0px 15px;
        position: relative;
        z-index: 9;

        &::after {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          background: url('../images/navbar/arrow.svg') center / contain no-repeat;
          transform: rotate(-90deg);
          top: calc(50% - 8px);
          right: -10px;
          z-index: -1;
        }

        &:last-child {
          padding-inline-end: 0px !important;

          &::after {
            display: none;
          }
        }

        &:first-child {
          padding-inline-start: 0px !important;
        }

        a {
          color: var(--light);
          font-size: 15px;
          font-weight: 500;
        }

        span {
          color: #cbcbcb;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.about-us {
  .image-content {
    width: 100%;
    height: 514px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: translateY 1s linear infinite;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      width: fit-content;
      padding: 4px 14px;
      background-color: var(--secondary-color);
      border-radius: 50px;
      color: var(--light);
      display: flex;
      align-items: center;
      align-content: center;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0px !important;
    }

    h1 {
      color: var(--dark-pragraph);
      font-size: 45px;
      font-weight: 900;
      margin: 16px 0px;

      span {
        color: var(--secondary-color);
        font-size: 45px;
        font-weight: 900;
        display: block;
        margin-top: 10px;
      }
    }

    .desc {
      color: var(--dark);
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .flex-contain {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .user-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.10);
      }
      
      .contain {
        width: calc(100% - 80px);

        h2 {
          color: var(--dark);
          font-size: 18px;
          font-weight: 900;
          margin-bottom: 4px;
        }

        p {
          color: var(--secondary-color);
          font-size: 18px;
          font-weight: 500;
          margin: 0px
        }
      }
    }
  }
}

.vision {
  width: 100%;
  position: relative;
  padding-bottom: 50px;

  .box {
    width: 100%;
    padding: 32px 12px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.150);

    &.primary-color {
      background-color: #2C8A9C;
    }

    &.secondary-color {
      background-color: #2CBCCA;
    }

    &.third-color {
      background-color: #30535D;
    }

    .image-content {
      width: 80px;
      height: 80px;
      transition: all .3s linear;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .contain {
      width: 100%;
      text-align: center;

      h1 {
        color: var(--light);
        font-size: 24px;
        font-weight: 700;
        margin: 16px 0px;
      }

      p {
        color: var(--light);
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: bottom right;
      transform: scale(1, 0);
      transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #00758b, #00333f);
      z-index: -1;
    }

    &:hover {
      .image-content {
        transform: translateY(-10px);
      }

      &::after {
        transform: scale(1, 1);
        transform-origin: top left;
      }
    }
  }
}

.advantages {
  padding-bottom: 30px;
  background-color: #f2f6fa;

  .heading {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    h1 {
      color: var(--dark-pragraph);
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 12px;

      span {
        color: var(--secondary-color);
        font-size: 30px;
        font-weight: 900;
        margin-top: 10px;
        display: block;
      }
    }

    p {
      color: var(--dark-prparagraph);
      font-size: 18px;
      font-weight: 500;
      margin: 0px;
    }
  }

  .box {
    width: 100%;
    border-radius: 8px;
    background-color: var(--light);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 24px 12px;
    position: relative;
    z-index: 9;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: bottom right;
      transform: scale(1, 0);
      transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #00758b, #00333f);
      z-index: -1;
    }
    
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin: 0px auto 11px;
    }

    h2 {
      color: var(--dark-pragraph);
      font-size: 18px;
      font-weight: 900;
      margin: 0px
    }

    &:hover {
      img {
        animation: tada .3s linear;
      }

      h2 {
        color: var(--light);
      }

      &::after {
        transform: scale(1, 1);
        transform-origin: top left;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 32px 0px 10px;
  background-color: #05313d;

  .contain {
    width: 100%;

    .brand-name img {
      width: 60px;
      height: 60px;
      object-position: center;
      object-fit: contain;
    }

    p {
      color: var(--light);
      font-size: 14px;
      font-weight: 500;
      margin: 20px 0px 0px;
    }

    h1 {
      color: #83b7c5;
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 40px;
    }

    .links {
      li {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          color: var(--light);
          font-size: 16px;
          font-weight: 500;
          transition: all .3s linear;

          &:hover {
            transform: translateX(10px);
          }
        }
      }
    }

    .socail-media {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin-inline-end: 0px !important;
        }

        a {
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }

          &:hover {
            img {
              animation: tada .3s linear both;
            }
          }
        }
        
      }
    }

    .footer-form {
      width: 100%;
      height: 44px;
      margin-bottom: 30px;

      .form-group {
        width: 100%;
        height: 100%;
        position: relative;

        .send-code {
          width: 32px;
          height: 32px;
          background-color: var(--light);
          position: absolute;
          top: calc(50% - 16px);
          border-radius: 50%;
          right: 12px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          
          img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            transition: all .3s linear;
          }

          &:hover {
            img {
              animation: translateX 1s linear infinite;
            }
          }
        }

        .form-control {
          width: 100%;
          height: 100%;
          background-color: #00869b;
          padding-inline-start: 12px;
          padding-inline-end: 60px;
          color: var(--light);
          font-size: 15px;
          font-weight: 500;
          border: 0px !important;

          &::placeholder {
            color: var(--light);
            font-size: 15px;
            font-weight: 500;  
          }
        }
      }
    }

    .flex-data {
      width: 100%;
      display: flex;
      justify-content: space-between !important;
    }
  }

  .copyright {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #83b7c5;
    text-align: center;

    p {
      color: var(--light);
      font-size: 14px;
      font-weight: 500;
      margin: 0px;
    }
  }
}

.profile {
  .profile-heading {
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;

    h1 {
      color: var(--secondary-color);
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .bread-list {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin-inline-end: 0px;
        }

        a, .arrow, .name {
          font-size: 12px;
          font-weight: 500;
        }

        a, .arrow {
          color: var(--secondary-color);
        }

        .name {
          color: #757475;
        }
      }
    }
  }

  .profile-list {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--light);
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.150);

    li {
      width: 100%;
      padding: 10px 16px;
      position: relative;
      z-index: 9;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }

      &::after, &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: all .3s linear;
      }

      &::after {
        width: 0px;
        height: 100%;
        background-color: #f9f9f9;
      }

      &::before {
        width: 2px;
        height: 0px;
        background-color: var(--secondary-color);
        z-index: 0;
      }

      a {
        display: flex;
        align-items: center;
        align-content: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: invert(31%) sepia(0%) saturate(0%) hue-rotate(64deg) brightness(95%) contrast(94%);
        }

        span {
          color: var(--dark-pragraph);
          font-size: 14px;
          font-weight: 500;
        }
      }

      &:hover, &.active {
        &::after{
          width: 100%;
        }

        &::before {
          height: 100%;
        }

        a {
          span {
            color: var(--secondary-color);
          }

          img {
            filter: invert(24%) sepia(99%) saturate(1813%) hue-rotate(168deg) brightness(93%) contrast(101%);
            animation: tada .3s linear both;
          }
        }
      }
    }
  }

  .form-contain {
    width: 100%;
    padding: 24px;
    background-color: var(--light);
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.150);

    h2 {
      color: var(--secondary-color);
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: var(--dark-pragraph);
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .add-data {
      color: var(--secondary-color);
      font-size: 18px;
      font-weight: 700;
    }

    .button-confirm {
      width: 100%;
      margin-top: 30px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .custom-btn {
        width: 49% !important;

        &.cancel {
          border: 1px solid #e02020 !important;
          background: var(--light);

          &::after {
            background-color: #e02020;
          }

          span {
            color: #e02020;
          }

          &:hover span {
            color: var(--light);
          }
        }

        &.border {
          border: 1px solid var(--secondary-color) !important;
          background: var(--light);

          span {
            color: var(--secondary-color);
          }

          &:hover span {
            color: var(--light);
          }
        }
      }
    }
  }

  .days-list {
    li {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      align-content: center;

      .name {
        color: var(--dark-pragraph);
        font-size: 14px;
        font-weight: 500;
      }

      .days-list-data {
        margin-inline-start: 40px;
        display: flex;
        align-items: center;
        align-content: center;

        .from {
          color: var(--secondary-color);
          margin: 0px 10px;
          font-weight: 700;
          font-size: 15px;
        }

        .delete-data {
          width: 24px;
          height: 24px;
          display: flex;
          margin-inline-start: 15px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .nav.nav-tabs {
    width: 100%;
    border: 0px !important;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .nav-item {
      position: relative;
      padding: 0px;

      .nav-link {
        display: flex;
        align-items: center;
        align-content: center;
        position: relative;
        width: 100%;
        border: 0px;
        z-index: 9;
        padding: 0px;

        .image-content {
          width: 40px;
          height: 40px;
          background-color: var(--light);
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          box-shadow: inset 0 -1px 0 0 rgba($color: #000000, $alpha: 0.250);
          border-radius: 4px;
          overflow: hidden;
          margin-inline-end: 8px;

          img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            filter: invert(31%) sepia(1%) saturate(647%) hue-rotate(315deg) brightness(86%) contrast(84%);
          }
        }

        span {
          color: var(--dark-pragraph);
          font-size: 16px;
          font-weight: 700;
        }

        &.active, &:hover {
          .image-content {
            background-color: var(--secondary-color);
            box-shadow: 0px 0px 0px transparent;

            img {
              animation: fadeInLeft .4s linear;
              filter: invert(100%) sepia(11%) saturate(7431%) hue-rotate(230deg) brightness(117%) contrast(88%);
            }
          }

          span {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}

.modal-content {
  border: 0px !important;
  border-radius: 8px !important;

  .modal-header {
    width: 100%;
    padding: 16px;
    background-color: #f3f6fa;

    .modal-title {
      font-size: 18px;
      font-weight: 900;
      color: var(--secondary-color);
      margin: 0px;
    }
  }

  .modal-body {
    width: 100% !important;
    padding: 24px !important;
  }

  .button-confirm {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .custom-btn {
      width: 49% !important;

      &.cancel {
        border: 1px solid #e02020 !important;
        background: var(--light);

        &::after {
          background-color: #e02020;
        }

        span {
          color: #e02020;
        }

        &:hover span {
          color: var(--light);
        }
      }
    }
  }

  .flex-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.form-contain {
  width: 100%;

  .form-group {
    width: 100%;
    margin-bottom: 16px;

    label {
      color: #00768c;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .form-data {
      width: 100%;
      height: 50px;
      position: relative;
      z-index: 9;

      &.text-area {
        height: 100px;

        .form-control {
          padding: 10px 15px;
          resize: none;
        }
      }

      &.select-box {
        &::after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          background: url('../images/form/down_arrow.svg') center / contain no-repeat;
          top: calc(50% - 12px);
          right: 16px;
          z-index: 9;
          pointer-events: none;
        }
      }

      .form-control {
        width: 100%;
        height: 100%;
        padding-inline-start: 16px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        color: var(--dark);
        font-size: 14px;
        font-weight: 500;
        appearance: none;

        &::placeholder {
          color: #7c8495;
          font-size: 14px;
          font-weight: 500;
        }

        &:hover {
          border-color: var(--secondary-color);
        }
      }

      .btn-contain {
        width: 24px;
        height: 24px;
        position: absolute;
        top: calc(50% - 12px);
        right: 16px;
        background: transparent !important;
        border: 0px !important;
        display: flex;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
      } 
    }
  }

  .custom-control {
    cursor: pointer;

    label {
      cursor: pointer;
      color: var(--dark-pragraph);
    }
  }

  .wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    cursor: pointer;

    .radio-check{
      appearance: none;
      -webkit-appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      border: 1px solid var(--secondary-color);
      background-color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &::after{
        content: '\f00c';
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
        color: var(--light);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 15px;
        transform: scale(0);
        transition: all .4s linear;
        top: 0;
        left: 0;
      }
      &:checked{
        border: 0px;
        &::after{
          transform: scale(1);
        }
      }
    }
    .radio-title{
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 500;
      margin-inline-start: 10px;
      cursor: pointer;
    }
  }

  .flex-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .custom-btn {
    width: 100% !important;
  }

  .link {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-pragraph);
    
    span {
      color: var(--secondary-color);
      font-weight: 700;
      font-size: 14px;
    }
  }

  .select-data {
    width: 100%;
    position: relative;
    z-index: 999;

    .data-selected {
      width: 100%;
      height: 50px;
      position: relative;
      z-index: 9;
      color: #7c8495;
      font-size: 14px;
      font-weight: 500;
      padding: 0px 16px;
      background-color: #fff;
      border: 1px solid #dddddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 4px;

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: url('../images/form/down_arrow.svg') center / contain no-repeat;
        top: calc(50% - 12px);
        right: 16px;
        z-index: 9;
        pointer-events: none;
      }
    }

    .select-contain {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--light);
      border-radius: 4px;
      padding: 24px;
      box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.150);
      transform: translateY(20px);
      visibility: hidden;
      opacity: 0;
      transition: all .3s linear;

      .search-box {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden;

        .search-box-control {
          width: calc(100% - 40px);
          padding-inline-start: 15px;
          height: 100%;
          background-color: #f3f6fa;
          border: 0px !important;
          color: var(--secondary-color);
          font-size: 15px;
          font-weight: 500;

          &::placeholder {
            color: var(--secondary-color);
            font-size: 15px;
            font-weight: 500;
          }
        }

        .search-btn {
          width: 50px;
          height: 50px;
          display: flex;
          background-color: var(--secondary-color);
          align-items: center;
          align-content: center;
          justify-content: center;

          img {
            width: 20px;
            height: 20px;
            object-fit: contain
          }
        }
      }

      .data-contain {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        margin-top: 20px;

        .list-contain {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          margin-bottom: 15px;

          img {
            width: 100px;
            height: 50px;
            object-fit: contain
          }
        }
      }
    }

    &.active {
      .data-selected {
        color: var(--secondary-color);

        &::after {
          transform: rotate(180deg)
        }
      }

      .select-contain {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible
      }
    }
  }

  .label-select-box {
    width: 100%;
    cursor: pointer;

    .check-list {
      display: none;

      &:checked ~ .box-selected  {
        border-color: var(--secondary-color) !important;

        img {
          animation: pulsecust .4s linear;
          filter: invert(24%) sepia(42%) saturate(6058%) hue-rotate(174deg) brightness(88%) contrast(101%);
        }

        span {
          color: var(--secondary-color);
        }
      }
    }

    .box-selected {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border: 1px solid #dddddd;
      border-radius: 4px;
      padding: 20px 10px;

      img {
        width: 40px;
        height: 70px;
        object-fit: contain;
        filter: invert(31%) sepia(1%) saturate(647%) hue-rotate(315deg) brightness(86%) contrast(84%);
        margin-bottom: 20px;
      }

      span {
        color: var(--dark-pragraph);
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

@import 'media';